@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
    font-family: GothamMedium;
    src: url(./assets/fonts/GothamMedium.ttf);
} */

*{
    font-family: GothamMedium;
    color: white;
}

:root{
    --green: #1ed760;
    --grey: #121212;
    --grey-slider: #5e5e5e;
    --grey-time: #bababa;

}


progress::-webkit-progress-bar {
    background-color: var(--grey-slider);
    border-radius: 1.5rem;
}
progress::-webkit-progress-value {
    background-color: white;
    border-radius: 1.5rem;

}
progress::-moz-progress-bar {

}